name: ESLint

on:
  workflow_call:
    inputs:
      node-version:
        type: string
        default: '20'
      lint-path:
        type: string
        default: '.'

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Install NPM dependencies
        run: npm ci

      - name: Run ESLint
        run: npx eslint ${{ inputs.lint-path }}