name: TypeScript Check

on:
  workflow_call:
    inputs:
      node-version:
        type: string
        default: '20'

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Install NPM dependencies
        run: npm ci

      - name: Run TypeScript check
        run: npx tsc --noEmit